/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
    --sky-blue: rgb(67, 145, 207);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    border: 1px solid blue;
    color: white;
}

main {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 200px 1fr;
}

.dash {
    border: 1px solid green;
}

.board {
    border: 1px solid yellow;
}

header {
    display: grid;
    grid-template-rows: 4rem 1fr;
    padding: 1rem;
    background-color: var(--sky-blue);
    gap: 3rem;
}

header svg {
    fill: white;
}

.heading {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.heading svg {
    width: 3rem;
    height: auto;
}

nav {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 3rem;
}

nav .links {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    align-items: start;
    gap: 1.5rem;
}