/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
    --sky-blue: rgb(67, 145, 207);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(13rem, 1fr) 4.5fr;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    border: 1px solid blue;
    color: white;
}

main {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 11rem 1fr;
}

.dash {
    border: 1px solid green;
}

.board {
    border: 1px solid yellow;
}

header {
    display: grid;
    grid-template-rows: 4rem 1fr;
    padding: 0.5rem 1rem;
    background-color: var(--sky-blue);
    gap: 3rem;
}

header svg {
    fill: white;
}

.heading {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.heading h1 {
    font-size: 1.6rem;
}

.heading svg {
    width: 3rem;
    height: auto;
}

nav {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 3rem;
}

nav .links {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    align-items: start;
    gap: 1.5rem;
}

nav a {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.links svg {
    width: 1.5rem;
    height: auto;
}

.links a {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.3rem;
    align-items: start;
}

.links:last-child {
    margin-top: 1rem;
}

.dash {
    border: 1px solid skyblue;
    display: grid;
    grid-template-rows: 4rem 1fr;
    padding: 0.5rem 4rem 0.5rem 2rem;
    align-items: center;
}

.dash .top {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

search {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    align-items: center;
}

search svg {
    width: 1.5rem;
    height: auto;
}

search input {
    background-color: rgb(227, 232, 239);
    border: none;
    border-radius: 15px;
    padding: 0.2rem 1rem;
}

.user-controls {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: end;
    gap: 2rem;
    align-items: center;
}

.user-controls svg {
    width: 1.5rem;
    height: auto;
}

.user-controls img {
    width: 3rem;
    border-radius: 100%;
    height: auto;
}

.user-controls h2 {
    font-size: 1.3rem;
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
}

.bottom img {
    width: 5rem;
    height: auto;
    border-radius: 100%;
}

.bottom .user-card {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.bottom .user-card {
    font-size: 0.9rem;
}

.bottom .user-card span {
    font-size: 1.3rem;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: end;
    gap: 2rem;
}

.actions button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 20px;
    background-color: var(--sky-blue);
    color: white;
    font-weight: bold;
}


.board {
    border: 1px solid plum;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.board .projects {
    border: 1px solid red;
    grid-row-start: 1;
    grid-row-end: 3;
}

.board .announcements {
    border: 1px solid yellow;
}

.board .trending {
    border: 1px solid blue;
}

.projects {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 0.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.project-card {
    background-color: white;
    display: grid;
    grid-template-columns: 0.5rem 1fr;
    border-radius: 10px;
    height: 14rem;

}

.project-card .color {
    background-color: #F1B429;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-card svg {
    width: 1.5rem;
    height: auto;
}

.project-card .content {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 1rem;
}

.content p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.content h4 {
    font-size: 1.2rem;
}

.announcements {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 0.5rem;
}

.announcements .new-cards {
    background-color: white;
    padding: 2rem 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 10px;
}

.announcements p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.new-cards .new {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.new-cards .new:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.users {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
}

.trending img {
    width: 4rem;
    border-radius: 100%;
}